<% for(var i=0;i<users.length;i++) {%>
<tr>
    <td><%= i+1 %></td>

    <% if(users[i].profile_picture) {%>
    <td>
        <div>
            <img src="data:<%=users[i].profile_picture.contentType%>;base64,<%=Buffer.from(users[i].profile_picture.data,'utf-8').toString('base64')%>">
        <div>
    </td>
    <% } else {%>

        <td> </td>
    <% } %>   



    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].gender %></td>
    <%# .replace(/\n/g, '<br/>') %>
    <td><%- users[i].favorite_movies? users[i].favorite_movies.replace(/\n/g, '<br/>') :'' %></td>
    <td>
        <a href="/update-user?id=<%= users[i]._id %>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= users[i]._id %>>
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>